VITE_SUPABASE_URL=https://lmfftcudrxjygggtbyoi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxtZmZ0Y3VkcnhqeWdnZ3RieW9pIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc2NDc2MzcsImV4cCI6MjEwMzIyMzYzN30.kUvEm48UWjRnh_JModn3LVfH3GJnE0TdHRT0T4RXolY
